.btn{
  background-color: #5C4B78;
  color: #dddddd;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  transition: background-color 0.4s ease, color 0.4s ease-in-out,  box-shadow 0.4s ease;

  &:hover {
    background-color: #B0B0B0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    color: #1a1a1a;
  }

  &:active {
    background-color: #A0A0A0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
  }
}

.tertiary{
  background-color: #C2C2C2;
  color: #1a1a1a;
    width: auto;
    height: 2rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;
}

.secondary{
  background: none;
  color: #1a1a1a;
  border-style: none;
  box-shadow: none;
  width: auto;
}

.arrow{
    width: 2rem;
}

.destructive{
  background: none;
  color: #e03a3a;
  box-shadow: none;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.destructive:hover{
  background: #e03a3a;
  color: #dddddd;
}
