<div class="topic-wrapper">
    <div class="topic-header">
        <h3>{{ topic.topic }}</h3>
    </div>

    <div class="topic-content">
        <p>{{ topic.description | truncate: 150 }}</p>
        <p>Nombre de posts : {{ topic.articleCount }}</p>
    </div>

    <div class="topic-footer">
        <app-buttons
            label="Voir les posts"
            type="button"
            typeButton="secondary"
        ></app-buttons>
        <app-buttons
            *ngIf="!topic.subscribed"
            label="S'abonner"
            type="button"
            typeButton="primary"
            (click)="sub(topic.id)"
        ></app-buttons>
        <app-buttons
            *ngIf="topic.subscribed"
            label="Se desabonner"
            type="button"
            typeButton="primary"
            (click)="unsub(topic.id)"
        ></app-buttons>
    </div>

</div>