<div class="all">
    <app-post-card
        *ngIf="post"
        [post]="post"
        [truncate]="false"
    ></app-post-card>
    <div class="commentSection">
        <div *ngIf="showError">
            <p class="error">{{errorMessage}}</p>
        </div>
        <form [formGroup]="createCommentform" (ngSubmit)="submit()">
            <input type="text" name="" id="" placeholder="Ajouter un commentaire" formControlName="content" required>
            <app-buttons
                label="Envoyer"
                type="submit"
            ></app-buttons>
        </form>
    </div>
    <div class="comment-display" *ngFor="let comment of comments">
        <div class="comment-card">
            <p class="comment-author">Par {{ comment.author.username }} <span>Le {{ comment.createdAt | date: 'dd/MM/yyyy' }}</span></p>
            <div class="content">
                <p class="comment-content">{{ comment.content }}</p>
                <div class="delete" *ngIf="comment.author.id === myInfo.id">
                    <img src="assets/icons/trash.svg" alt="supprimer" (click)="deleteComment(comment.id)">
                </div>
            </div>
        </div>
    </div>
</div>
