<div class="all">
    <div class="header">
        <h2>Profil utilisateur</h2>
        <input type="text" name="username" placeholder="Nom d'utilisateur">
        <input type="text" name="mail" placeholder="Email">
        <input type="text" name="password" placeholder="Mot de passe">
    </div>
    <div class="content">
        <app-topic-card *ngFor="let topic of topics"
            [topic]="topic"
            (topicChange)="reloadAllTopics()"
            >
        </app-topic-card>
    </div>
</div>
